@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  color: white;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  li {
    color: darkgray;
  }
  a {
    text-decoration: none;
    color: white;
    text-decoration: none;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
  }
}
a:hover {
  border-bottom: solid 2px white;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-right: 0;
  position: relative;
}
ul.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  background-color: #242631a8;
  -webkit-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: fit-content;
}
.header li {
  height: 80px;
  display: flex;
  align-items: center;
}
li {
  color: darkgray;
  cursor: pointer;
}
.logo {
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 100%;
  max-height: 100%;
}
.header:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background: #222430;
  top: 50%;
  left: 13%;
}
.landing .txt ul {
  display: flex;
}
.landing .txt ul li {
  margin-right: 50px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 77vh;
}
.txt {
  width: 475px;
}
.landing .txt p {
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.landing .txt h1 {
  font-size: 110px;
  text-transform: uppercase;
  font-weight: 200;
}
.info {
  display: flex;
  text-transform: uppercase;
  margin-top: 20px;
}
.t1,
.s1 {
  font-size: 12px;
  color: #a4a0a0;
  letter-spacing: 2px;
}
.t2,
.s2 {
  font-size: 30px;
  margin-top: 4px;
}
.travelTime {
  margin-left: 100px;
}
.catigory {
  position: relative;
  left: 0;
  bottom: 100px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 100;
}
.iconList {
  display: none;
}
.active {
  color: white;
  border-bottom: solid 1px white;
}

.none {
  display: none;
}

.block {
  display: block !important;
}
/* responsive */

@media (max-width: 1100px) {
  .landing img {
    width: 350px;
  }
  .landing .txt h1 {
    font-size: 80px;
  }
  .catigory {
    font-size: 22px;
  }
  .landing .txt p {
    line-height: 30px;
    letter-spacing: 0.9px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .header:before {
    display: none;
  }
}

@media (max-width: 1000px) {
  .flex {
    flex-direction: column;
    min-height: auto;
  }
  .catigory {
    position: inherit;
    text-align: center;
    margin-bottom: 50px;
  }
  .landing .txt ul li {
    margin-right: 0;
  }
  .landing .txt ul {
    justify-content: space-evenly;
  }
  .landing .txt {
    text-align: center;
  }
  .landing .info {
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .landing .img img {
    margin-bottom: 50px;
  }
}
@media (max-width: 900px) {
  ul.links {
    display: none;
    position: absolute;
    right: 10%;
    top: 70%;
    border-radius: 30px;
    padding: 0 30px;
    z-index: 9999;
  }
  .iconList {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-around;
  }
}
@media (max-width: 600px) {
  .landing .txt h1 {
    font-size: 75px;
  }
  .landing p {
    line-height: 25px;
    letter-spacing: 1px;
  }
  .landing .txt {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .t2,
  .s2 {
    font-size: 22px;
  }
}
@media (max-width: 450px) {
  .landing img {
    padding: 35px;
  }
}
